
# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: tvln pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install system deps
        run: |
          sudo apt-get update


      - name: Run Python Tests
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install dependencies and run tests
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv python install 3.13
          uv python pin 3.13
          uv sync --group dev
          source .venv/bin/activate
          pytest -rPvv

